# note: please put me in /etc/systemd/system/
# and run   `systemctl enable   minecraft-vanilla-1.19`
# or        `systemctl disable  minecraft-vanilla-1.19`
# or        `systemctl start    minecraft-vanilla-1.19`
# or        `systemctl stop     minecraft-vanilla-1.19`
# or        `systemctl status   minecraft-vanilla-1.19`
# or        `journalctl -u      minecraft-vanilla-1.19`
[Unit]
Description=Vanilla Minecraft 1.19
After=network.target
# keep trying to start this forever
StartLimitIntervalSec=0
# stop trying if we keep failing
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=1001
WorkingDirectory=/home/henryfbp/minecraft/minecraft-server-gcp/template-server-vanilla-1.19/
ExecStart=/usr/bin/env java -jar ./minecraft_server.1.19.jar

[Install]
WantedBy=multi-user.target
